<!-- bottom.tmpl -->
<br/>
<hr class="line" />
<div class="is-70 is-center is-small is-text-center">
    Copyright &#169; Cornell Laboratory for Accelerator-based Sciences and Education
    Supported by: <img src="/images/nsf_logo.png" alt="NSF" width="30">
</div>
<!-- end of bottom.tmpl -->
</body>
</html>
