<!-- bottom.tmpl -->
</div> <!-- end of _response tag -->
<hr class="line" />
<div class="results">
<table width="100%" class="small">
<tr>
<td align="left">
    version: {{.Version}}
</td>
</tr>
</table>
</div> <!-- end of id="results" -->
<!-- end of bottom.tmpl -->
</body>
</html>
