<!-- faq.tmpl -->
<div class="page">
<div class="normal">
This page summarizes Frequently Asked Questions about Server.
</div> <!-- end of class="normal" -->
</div> <!-- end of class="page" -->

<!-- end of faq.tmpl -->

