<div class="form-container center-70">
<form class="form-content" method="post" action="process">

    {{.Form}}

    <fieldset id="Final" class="">
        <legend>Description meta-data ({{.User}})</legend>
        <div class="form-item">
            <label class="is-req">Beamline Notes (&#42;)</label>
            <textarea name="Description" rows="3" class="is-90" required></textarea>
        </div>

        <div class="form-item">
            <div class="is-append is-push-right is-right">
                <div class="is-80">
                    <input type="hidden" name="SchemaName" value="{{.Beamline}}"/>
                    <input type="hidden" name="User" value="{{.User}}"/>
                </div>
                <button class="button">Submit</button>
            </div>
        </div>
    </fieldset>
</form>
</div>
