<!-- home.tmpl -->

<div class="is-row">
    <div class="is-col">
        Start new experiment
        <div class="is-buttons">
            <button class="button is-big">Start</button>
        </div>
    </div>
    <div class="is-col">
        Search for existing data
        <div class="is-buttons">
            <button class="button is-big is-secondary">Search</button>
        </div>
    </div>
</div>

<!-- end of home.tmpl -->

