<!-- keys.tmpl -->
<div class="is-row">
    <div class="is-col is-20">
<div class="form-container center-90">

    <div class="">
    <h3>Beamlines</h3>
    <select id="beamlines" class="is-50" onChange="selectBeamline();">
{{range $b := .Beamlines}}
    <option value="{{$b}}">{{$b}}</option>
{{end}}
    </select>
    </div>
    <br/>
    <hr/>
    <br/>

    <div>
    <form class="form-content" method="post" action="api" enctype="multipart/form-data">
        <h3>Upload spec file</h3>
        <br/>
        <div class="form-item">
            <label> Configuration file </label>
            <input name="file" type="file">
        </div>
        <div class="form-item">
            <div class="is-append is-push-right is-right">
                <div class="is-80">
                    <input type="hidden" id="FormSchemaName" name="SchemaName" value=""/>
                    <input type="hidden" name="User" value="{{.User}}"/>
                </div>
                <button class="button is-small">Submit</button>
            </div>
        </div>
    </form>
    </div>

</div>

    </div>
    <div class="is-col is-80">

    {{.Form}}

    </div>
</div>

<script>
function move(prevTag, nextTag)
{
    HideTag("Generic");
    HideTag("Material");
    HideTag("Experiment");
    HideTag("Final");
    if(validateInput(prevTag) == true) {
        ShowTag(nextTag);
    }
}
function validateInput(tag)
{
    var fieldset = document.getElementById(tag);
    var docs = fieldset.getElementsByTagName("input");
    for(var i=0; i<docs.length; i++) {
        if(docs[i].required && docs[i].value == "") {
            ShowTag(tag);
            docs[i].focus();
            docs[i].className = "alert is-focus is-req is-90";
            return false;
        }
    }
    return true;
}
function disable(tid)
{
    var doc = document.getElementById(tid);
    doc.value = "";
    doc.disabled = true;
}
function disableOption(tid, val)
{
    var docs = document.getElementById(tid);
    for(var i=0; i<docs.length; i++) {
        docs[i].disabled=true;
    }
}
function selectBeamline()
{
    var docs=document.getElementById("beamlines");
    for(var i=0; i<docs.length; i++) {
        HideTag(docs[i].value);
    }
    ShowTag(docs.value);
    setSchemaName();
}
function setSchemaName()
{
    var docs=document.getElementById("beamlines");
    var sdoc=document.getElementById("FormSchemaName");
    sdoc.value=docs.value;
}
setSchemaName();
</script>
<!-- end of keys.tmpl -->
