<!-- keys.tmpl -->
<div class="form-container center-70">
<form class="form-content" method="post" action="process">
    <br/>
    <fieldset>
        <legend>Experiment data ({{.User}})</legend>
{{range $k, $v := .Keys}}
        <div class="form-item">
            <label> {{$k}} </label>
            <input name="{{$k}}" type="text" class="is-90" placeholder="{{$v}}">
        </div>
{{end}}
        <div class="form-item">
            <label>Description</label>
            <textarea name="description" rows="3" class="is-90"></textarea>
        </div>

        <div class="form-item">
            <div class="is-append is-push-right is-right">
                <div class="is-80">
                    <input type="hidden" name="user" value="{{.User}}"/>
                </div>
                <button class="button">Submit</button>
            </div>
        </div>
    </fieldset>
</form>
</div>
<!-- end of keys.tmpl -->
