<!-- home.tmpl -->

<div class="is-width-small is-center">
<!--
<div class="form-container center-70 center">
<form method="post" action="">
    <fieldset>
        <legend>Login data</legend>
        <div class="form-item">
            <label>Name</label>
            <input type="text" name="name" class="is-50">
        </div>
        <div class="form-item">
            <label>Password</label>
            <input type="password" name="password" class="is-50">
        </div>
        <div class="form-item is-buttons is-inline-offset">
			<button class="button">Login</button>
        </div>
    </fieldset>
</form>
-->
<br/>
<br/>
<h3>Welcome to CHESS Data Management</h3>
To proceed pleaese authorize yourself with
<a href="https://github.com/login/oauth/authorize?client_id={{.ClientID}}&redirect_uri={{.Redirect}}" class="button is-secondary is-30">Github</a>
</div>

<!-- end of home.tmpl -->
