<!-- home.tmpl -->

<br/>
<div class="is-70 is-center">
    <form method="post" action="{{.Base}}/auth">
    <fieldset>
        <legend>CLASSE credentials</legend>
        <div class="form-item">
            <label>Name</label>
            <input type="text" name="name" class="is-50">
        </div>
        <div class="form-item">
            <label>Password</label>
            <input type="password" name="password" class="is-50">
        </div>
        <div class="form-item is-buttons is-inline-offset">
			<button class="button">Login</button>
        </div>
    </fieldset>
</form>
</div>

<!-- end of home.tmpl -->
