<div class="left">
<table width="100%" class="normal">
<tr>
<td align="left">
Showing {{.StartIndex}}&#8212;{{.EndIndex}} records out of {{.Total}}.
</td>
<td align="right">
<div id="paginator">
&lt;<a href="{{.FirstUrl}}">first</a> |
<a href="{{.PrevUrl}}">prev</a> |
<a href="{{.NextUrl}}">next</a> |
<a href="{{.LastUrl}}">last</a>&gt;
</div>
</td>
</tr>
</table>
