<!--
<table width="100%">
<tr>
<td align="left">
Showing {{.StartIndex}}&#8212;{{.EndIndex}} records out of {{.Total}}.
</td>
<td align="right">
<a href="{{.FirstUrl}}" class="button is-secondary is-small">first</a>
<a href="{{.PrevUrl}}"  class="button is-secondary is-small">prev</a>
<a href="{{.NextUrl}}"  class="button is-secondary is-small">next</a>
<a href="{{.LastUrl}}"  class="button is-secondary is-small">last</a>
</td>
</tr>
</table>
-->

<div class="is-navbar-container">
    <div class="is-brand">
		<b class="is-logo">
		Showing {{.StartIndex}}&#8212;{{.EndIndex}} records out of {{.Total}}.
		</b>
    </div>
    <div class="is-navbar">
        <nav class="is-push-right">
            <ul>
			<li>
                <a href="{{.FirstUrl}}" class="button is-secondary is-small">first</a>
                <a href="{{.PrevUrl}}"  class="button is-secondary is-small">prev</a>
                <a href="{{.NextUrl}}"  class="button is-secondary is-small">next</a>
                <a href="{{.LastUrl}}"  class="button is-secondary is-small">last</a>
            </li>
            </ul>
        </nav>
    </div>
</div>
