<hr />
<div class="is-row">
    <div class="is-col is-70">
    <h3>record: {{.Id}}</h3>
    </div>
    <div class="is-col is-10">
        <form class="form-content" method="post" action="{{.Base}}/update" enctype="multipart/form-data">
            <div class="form-item">
                <div class="is-append is-push-right is-right">
                    <div class="is-80">
                    <input name="_id" type="hidden" value="{{.Id}}">
                    <input type="hidden" name="User" value="{{.User}}"/>
                    <input type="hidden" name="Description" value="{{.Description}}"/>
                    <input name="record" type="hidden" value="{{.Record}}">
                    </div>
                    <button class="button is-secondary">Update</button>
                </div>
            </div>
        </form>
    </div>
    <div class="is-col is-20">
        <form class="form-content" method="post" action="{{.Base}}/files">
            <div class="form-item">
                <div class="is-append is-push-right is-right">
                    <div class="is-80">
                    <input name="_id" type="hidden" value="{{.Id}}">
                    <input name="did" type="hidden" value="{{.Did}}">
                    <input type="hidden" name="User" value="{{.User}}"/>
                    </div>
                    <button class="button is-secondary">Show files</button>
                </div>
            </div>
        </form>
    </div>
</div>
<pre>
{{.RecordString}}
</pre>
