<!-- searchform.tmpl -->

<form action="/search" method="post" name="web_search" id="web_search" class="web_form">
    <div class="form-item">
        <div class="is-append is-50">
            <input type="text" name="query" placeholder="text search keywords">
            <button class="button">Search</button>
        </div>
    </div>
</form>

<!-- end of web_searchform.tmpl -->
