<!DOCTYPE HTML>
<!-- das_top.tmpl -->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head profile="http://www.w3.org/2005/11/profile">
    <title>CHESS Data Aggregation Service</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="author" content="Valentin Kuznetsov (vkuznet at gmail dot com)" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="ROBOTS" content="ALL" />
    <meta name="Copyright" content="(CC) 2019, CHESS collaboration." />
    <meta name="Rating" content="General" />

    <link rel="stylesheet" type="text/css" href="/css/main.css"/>

    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch" title="Data Aggregation System" />
    <script type="text/javascript" src="/js/prototype.js"></script>
    <script type="text/javascript" src="/js/utils.js"></script>
    <script type="text/javascript" src="/js/ajax_utils.js"></script>

</head>
<body class="yui-skin-sam">

<div id="banner">
<table>
<tr><td>
<img src="/images/logo.jpg" alt="CHESS" width="30" style="border:none" />
</td><td>
<h3>CHESS Data Aggregation System:
<a href="/">Home</a>
| <a id="das_top_bug" href="https://github.com/dmwm/das2go/issues">Bug report</a>
| <a id="das_top_status" href="/status">Status</a>
| <a id="das_top_cli" href="/cli">CLI</a>
| <a id="das_top_faq" href="/faq">FAQ</a>
| <a id="das_top_cli" href="javascript:FlipTag('das_cards')">Help</a>
</h3>
</td></tr>
</table>
</div>
<!--<hr class="line" /> -->
<!-- end of das_top.tmpl -->
