<h3>record: {{.Id}}</h3>
<div class="is-70 is-center">
<form method="post" action="updateRecord">
    <div class="form-item">
        <input name="_id" type="hidden" value="{{.Id}}">
        <input type="hidden" name="User" value="{{.User}}"/>
        <input type="hidden" name="Description" value="{{.Description}}"/>
    </div>
{{range $i, $input := .Inputs}}
    <div class="form-item">
        {{$input}}
    </div>
{{end}}

    <div class="form-item is-buttons">
        <button class="button">Update</button>
    </div>
</form>
</div>
